.btn {
  width: 100%;

  color: $white;
  text-align: center;
  text-transform: uppercase;

  border-radius: 5px;
  cursor: pointer;

  &-green {
    padding: 20px 30px;

    background-color: $green;
  }

  &-brown {
    display: block;
    width: fit-content;
    padding: 17px 40px;

    background-color: $brown;
    border-radius: 32px;
  }

  &-white-outline {
    display: block;
    padding: 20px 30px;

    outline: 1px solid $white;
  }

  &-grey-outline {
    display: block;
    width: fit-content;
    padding: 16px 30px;

    color: $grey;
    font-size: 12px;

    outline: 1px solid $grey;
  }
}
