.btn {
  width: 100%;

  color: $white;
  text-transform: uppercase;

  border-radius: 5px;
  cursor: pointer;

  &-green {
    padding: 20px 30px;

    background-color: $green;
  }

  &-white-outline {
    display: block;
    padding: 20px 30px;

    outline: 1px solid $white;
  }
}
