.link {
  transition: color 0.3s;

  &:hover,
  &-active {
    color: $white;
  }

  &-footer {
    color: $light-grey;
  }
}

@include media-breakpoint-down(mobile) {
  .link-header {
    font-weight: bold;
  }
}
