.page-description {
  padding-top: 200px;
  padding-bottom: 200px;

  &-main {
    text-align: center;

    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
  }

  &-artist {
    background-image: url("../images/Morten%20Harket.png");
    background-position: center;
    background-size: cover;
  }
}

@include media-breakpoint-down(mobile) {
  .page-description-main {
    padding-top: 248px;
  }

  .page-description-artist {
    padding-top: 225px;
    padding-bottom: 225px;
  }
}
