$utilities: (
  "mt": (
    property: margin-top,
    values: $spacers,
  ),
  "mb": (
    property: margin-bottom,
    values: $spacers,
  ),
  "ms": (
    property: margin-left,
    values: map-merge($spacers, (auto: auto)),
  ),
  "me": (
    property: margin-right,
    values: $spacers,
  ),
  "pt": (
    property: padding-top,
    values: (100: 100px),
    responsive: mobile,
  ),
  "pb": (
    property: padding-bottom,
    values: (100: 100px),
  ),
  "flex": (
    property: flex-direction,
    values: (column, column-reverse),
    responsive: (mobile, laptop)
  ),
);
