$utilities: (
  "mt": (
    property: margin-top,
    values: $spacers,
  ),
  "mb": (
    property: margin-bottom,
    values: $spacers,
  ),
  "ms": (
    property: margin-left,
    values: map-merge($spacers, (auto: auto)),
  ),
  "me": (
    property: margin-right,
    values: $spacers,
  ),
  "pt": (
    property: padding-top,
    values: $pt-values,
    responsive: mobile,
  ),
  "pb": (
    property: padding-bottom,
    values: $pb-values,
  ),
  "pb-mobile": (
    property: padding-bottom,
    values: (69: 69px),
    responsive: mobile,
  ),
  "flex": (
    property: flex-direction,
    values: (column, column-reverse),
    responsive: (mobile, laptop)
  ),
  "fs": (
    property: font-size,
    values: $fs-values,
  ),
  "gap": (
    property: gap,
    values: $gaps,
  ),
  "gap-mobile": (
    property: gap,
    values: (30: 30px),
    responsive: mobile,
  ),
  "text": (
    property: color,
    values: $text-colors,
  ),
  "w": (
    property: width,
    values: $width-values,
  )
);
