@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #cacaca;
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

body {
  color: #cacaca;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;

  background-color: #08020d;
}

h1,
h2,
h3 {
  color: #fff;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-weight: normal;
  font-size: 24px;
}

hr {
  height: 2px;

  background-color: #cacaca;
  border: none;
}

@media (max-width: 770px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}

header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;

  font-size: 11px;
  text-transform: uppercase;
}

.search {
  width: 248px;
  height: 25px;
  margin-left: auto;
  padding: 5px 10px;

  font-size: 13.3px;
  text-transform: uppercase;

  background-color: #3c3b3d;
  border-radius: 50px;
}

@media (max-width: 770px) {
  .search {
    width: 100%;
    margin-left: 0;
  }
}

.page-description {
  padding-top: 200px;
  padding-bottom: 200px;
}

.page-description-main {
  text-align: center;

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.page-description-artist {
  background-image: url("../images/Morten%20Harket.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 770px) {
  .page-description-main {
    padding-top: 248px;
  }

  .page-description-artist {
    padding-top: 225px;
    padding-bottom: 225px;
  }
}

.subscribe {
  max-width: 570px;
  margin: 0 auto;
}

.subscribe-input {
  width: 100%;
  max-width: 270px;
  padding: 16px 22px;

  color: #fff;

  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

@media (max-width: 770px) {
  .subscribe-input {
    max-width: 100%;
  }

  .subscribe-input:first-child {
    margin-bottom: 24px;
  }
}

.btn {
  display: inline-block;
  padding: 20px 30px;

  text-align: center;
  text-transform: uppercase;

  border-radius: 5px;
  cursor: pointer;
}

.btn-rounded-pill {
  border-radius: 32px;
}

.btn-small {
  padding: 20px 31px 15px;
}

.btn-small-wide {
  padding: 17px 40px;
}

.btn-w-100 {
  width: 100%;
}

.btn-icon {
  display: flex;
  align-items: center;
  width: 200px;
  height: 62px;

  column-gap: 16px;
}

.btn-icon .icon {
  width: 20px;
}

.btn-green {
  color: #fff;

  background-color: #34c176;
}

.btn-brown {
  color: #fff;

  background-color: #95390c;
}

.btn-purple {
  color: #fff;

  background-color: #5328a1;
}

.btn-white-outline {
  color: #fff;

  border: 1px solid #fff;
}

.btn-grey-outline {
  color: #cacaca;

  border: 1px solid #cacaca;
}

.link {
  transition: color 0.3s;
}

.link:hover,
.link-active {
  color: #fff;
}

@media (max-width: 770px) {
  .link-header {
    font-weight: bold;
  }
}

.pricing-card {
  width: 366px;
  padding: 25px 25px 64px;

  text-align: center;

  border-radius: 16px;
}

.pricing-card-free {
  background-image: url("../images/subscribe_1.png");
  background-size: cover;
}

.pricing-card-standard {
  background-image: url("../images/subscribe_2.png");
  background-size: cover;
}

.pricing-card-premium {
  background-image: url("../images/subscribe_3.png");
  background-size: cover;
}

.pricing-card-title {
  margin-bottom: 200px;
}

.pricing-card-value {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  color: #fff;
  font-size: 64px;
  line-height: 1;
  column-gap: 16px;
}

.pricing-card-currency {
  color: #fff;
  font-size: 32px;
  line-height: 1.5;
  text-transform: uppercase;
}

.pricing-card-footer {
  color: #fff;
  font-size: 13px;
}

@media (max-width: 770px) {
  .pricing-card {
    width: 374px;
    padding: 16px 24px 64px;
  }

  .pricing-card-title {
    font-size: 15px;
  }
}

.news-card {
  display: flex;
  gap: 50px;
}

.news-card-image,
.news-card-info {
  width: 100%;
  max-width: 575px;
}

.news-card-title {
  margin-bottom: 30px;

  font-size: 30px;
  text-transform: capitalize;
}

.news-card-description {
  margin-bottom: 24px;
}

.news-card-author {
  display: flex;
  margin-bottom: 48px;

  font-size: 12px;
  column-gap: 16px;
}

.news-card-author-name {
  color: #f89202;
  text-transform: uppercase;
}

.news-card-reverse {
  flex-direction: row-reverse;
}

.news-card-reverse .news-card-description {
  margin-bottom: 15px;
}

@media (max-width: 1240px) {
  .news-card {
    flex-direction: column;
  }

  .news-card-title {
    margin-bottom: 16px;

    font-size: 16px;
  }
}

.track {
  display: flex;
  width: 100%;
  max-width: 550px;

  column-gap: 15px;
}

.track-image {
  width: 55px;
  height: 55px;
}

.track-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  color: #e0e0e0;
}

.track-name,
.track-author,
.track-duration {
  font-size: 12.8px;
}

.track-name {
  font-weight: bold;
}

.track-duration {
  margin-left: auto;
}

@media (max-width: 1240px) {
  .track {
    width: 46%;
  }
}

@media (max-width: 770px) {
  .track {
    width: 100%;
  }
}

.album {
  width: 250px;
}

.album-image {
  width: 250px;
  height: 250px;
  margin-bottom: 12px;
}

.album-name {
  font-weight: bold;
  font-size: 17.8px;
  text-transform: capitalize;
}

.album-year {
  color: #e0e0e0;
}

@media (max-width: 770px) {
  .album {
    width: 137px;
  }

  .album-image {
    width: 137px;
    height: 137px;
  }
}

.similar-artist {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.similar-artist-image {
  margin-bottom: 17px;
}

.similar-artist-name {
  margin-bottom: 1px;

  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.similar-artist-followers {
  color: #e0e0e0;
  text-align: center;
}

@media (max-width: 770px) {
  .similar-artist {
    width: 137px;
  }

  .similar-artist-image {
    width: 100%;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-betweeen {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.mw-600px {
  max-width: 600px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.visibility-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;
}

.column-gap-50 {
  column-gap: 50px;
}

.row-gap-25 {
  row-gap: 25px;
}

.text-capitalize {
  text-transform: capitalize;
}

@media (max-width: 1240px) {
  .mb-laptop-16 {
    margin-bottom: 16px;
  }
}

@media (max-width: 770px) {
  .flex-align-mobile-start {
    align-items: flex-start;
  }

  .ms-mobile-0 {
    margin-left: 0;
  }

  .mb-mobile-18 {
    margin-bottom: 18px;
  }

  .mb-mobile-16 {
    margin-bottom: 16px;
  }

  .mb-mobile-15 {
    margin-bottom: 15px;
  }

  .py-mobile-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.mt-0 {
  margin-top: 0;
}

.mt-15 {
  margin-top: 15px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-mobile-18px {
  margin-top: -18px;
}

@media (max-width: 770px) {
  .mt-mobile-mobile-18px {
    margin-top: -18px;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-mobile-16 {
  margin-bottom: 16px;
}

.mb-mobile-24 {
  margin-bottom: 24px;
}

@media (max-width: 770px) {
  .mb-mobile-mobile-16 {
    margin-bottom: 16px;
  }

  .mb-mobile-mobile-24 {
    margin-bottom: 24px;
  }
}

.ms-0 {
  margin-left: 0;
}

.ms-15 {
  margin-left: 15px;
}

.ms-16 {
  margin-left: 16px;
}

.ms-18 {
  margin-left: 18px;
}

.ms-24 {
  margin-left: 24px;
}

.ms-25 {
  margin-left: 25px;
}

.ms-30 {
  margin-left: 30px;
}

.ms-40 {
  margin-left: 40px;
}

.ms-48 {
  margin-left: 48px;
}

.ms-50 {
  margin-left: 50px;
}

.ms-64 {
  margin-left: 64px;
}

.ms-90 {
  margin-left: 90px;
}

.ms-100 {
  margin-left: 100px;
}

.ms-auto {
  margin-left: auto;
}

.ms-mobile-0 {
  margin-left: 0;
}

@media (max-width: 770px) {
  .ms-mobile-mobile-0 {
    margin-left: 0;
  }
}

.me-0 {
  margin-right: 0;
}

.me-15 {
  margin-right: 15px;
}

.me-16 {
  margin-right: 16px;
}

.me-18 {
  margin-right: 18px;
}

.me-24 {
  margin-right: 24px;
}

.me-25 {
  margin-right: 25px;
}

.me-30 {
  margin-right: 30px;
}

.me-40 {
  margin-right: 40px;
}

.me-48 {
  margin-right: 48px;
}

.me-50 {
  margin-right: 50px;
}

.me-64 {
  margin-right: 64px;
}

.me-90 {
  margin-right: 90px;
}

.me-100 {
  margin-right: 100px;
}

.me-mobile-0 {
  margin-right: 0;
}

@media (max-width: 770px) {
  .me-mobile-mobile-0 {
    margin-right: 0;
  }
}

.pt-0 {
  padding-top: 0;
}

.pt-16 {
  padding-top: 16px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-62 {
  padding-top: 62px;
}

.pt-100 {
  padding-top: 100px;
}

@media (max-width: 770px) {
  .pt-mobile-0 {
    padding-top: 0;
  }

  .pt-mobile-16 {
    padding-top: 16px;
  }

  .pt-mobile-40 {
    padding-top: 40px;
  }

  .pt-mobile-50 {
    padding-top: 50px;
  }

  .pt-mobile-62 {
    padding-top: 62px;
  }

  .pt-mobile-100 {
    padding-top: 100px;
  }
}

.pt-mobile-0 {
  padding-top: 0;
}

@media (max-width: 770px) {
  .pt-mobile-mobile-0 {
    padding-top: 0;
  }
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-72 {
  padding-bottom: 72px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-mobile-0 {
  padding-bottom: 0;
}

.pb-mobile-16 {
  padding-bottom: 16px;
}

.pb-mobile-69 {
  padding-bottom: 69px;
}

@media (max-width: 770px) {
  .pb-mobile-mobile-0 {
    padding-bottom: 0;
  }

  .pb-mobile-mobile-16 {
    padding-bottom: 16px;
  }

  .pb-mobile-mobile-69 {
    padding-bottom: 69px;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

@media (max-width: 770px) {
  .flex-mobile-column {
    flex-direction: column;
  }

  .flex-mobile-column-reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1240px) {
  .flex-laptop-column {
    flex-direction: column;
  }

  .flex-laptop-column-reverse {
    flex-direction: column-reverse;
  }
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-18 {
  font-size: 18px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

.gap-65 {
  gap: 65px;
}

.gap-mobile-30 {
  gap: 30px;
}

@media (max-width: 770px) {
  .gap-mobile-mobile-30 {
    gap: 30px;
  }
}

.text-white {
  color: #fff;
}

.text-light-grey {
  color: #e0e0e0;
}

.text-grey {
  color: #cacaca;
}

.w-24px {
  width: 24px;
}

.w-270px {
  width: 270px;
}

.w-mobile-100 {
  width: 100%;
}

@media (max-width: 770px) {
  .w-mobile-mobile-100 {
    width: 100%;
  }
}
