body {
  color: $main-text-color;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;

  background-color: $main-bg-color;
}

h1 {
  color: $white;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  color: $white;
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
}

@include media-breakpoint-down(mobile) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}
