body {
  color: $main-text-color;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;

  background-color: $main-bg-color;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.text-white {
  color: $white;
}

@media (max-width: 770px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}
