.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-betweeen {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

.gap-65 {
  gap: 65px;
}

.text-white {
  color: $white;
}

.text-light-grey {
  color: $light-grey;
}

.w-24px {
  width: 24px;
}

.w-270px {
  width: 270px;
}

.text-center {
  text-align: center;
}

.mw-600px {
  max-width: 600px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.fs-18 {
  font-size: 18px;
}

.pb-72 {
  padding-bottom: 72px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.visibility-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;
}

@include media-breakpoint-down(laptop) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .mb-laptop-16 {
    margin-bottom: 16px;
  }
}

@include media-breakpoint-down(mobile) {
  .flex-align-mobile-start {
    align-items: flex-start;
  }

  .ms-mobile-0 {
    margin-left: 0;
  }

  .mb-mobile-18 {
    margin-bottom: 18px;
  }

  .mb-mobile-16 {
    margin-bottom: 16px;
  }

  .gap-mobile-30 {
    gap: 30px;
  }
}
