.container {
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-50 {
  gap: 50px;
}

.gap-65 {
  gap: 65px;
}

.text-white {
  color: $white;
}

.w-24px {
  width: 24px;
}

.text-center {
  text-align: center;
}

@include media-breakpoint-down(laptop) {
  .container {
    padding: 0 20px;
  }
}

@include media-breakpoint-down(mobile) {
  .flex-align-mobile-start {
    align-items: flex-start;
  }

  .ms-mobile-0 {
    margin-left: 0;
  }

  .mb-mobile-18 {
    margin-bottom: 18px;
  }

  .mb-mobile-16 {
    margin-bottom: 16px;
  }
}
