.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-betweeen {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.mw-600px {
  max-width: 600px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.visibility-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;
}

.column-gap-50 {
  column-gap: 50px;
}

.row-gap-25 {
  row-gap: 25px;
}

.row-gap-16 {
  row-gap: 16px;
}

.text-capitalize {
  text-transform: capitalize;
}

.vertical-align-middle {
  vertical-align: middle;
}

.fs-small {
  font-size: 12.8px;
}

@include media-breakpoint-down(laptop) {
  .mb-laptop-16 {
    margin-bottom: 16px;
  }
}

@include media-breakpoint-down(mobile) {
  .flex-align-mobile-start {
    align-items: flex-start;
  }

  .ms-mobile-0 {
    margin-left: 0;
  }

  .mb-mobile-18 {
    margin-bottom: 18px;
  }

  .mb-mobile-16 {
    margin-bottom: 16px;
  }

  .mb-mobile-15 {
    margin-bottom: 15px;
  }

  .py-mobile-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pt-mobile-48 {
    padding-top: 48px;
  }
}
